.main.container {
    padding-top: 5%;
    padding-bottom: 5%;
  }


.text.container {
    padding-left:2%
}

h1.ui.header{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#header{
    text-align: right;
}

.desc{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body{
    padding: 2%;
    font-family:'Roboto', sans-serif;
    font-weight: 200
}

a{
    color:black;
    text-decoration: underline
}

div.ui.left.segment{
    width: 60%
}

.special{
    color:rgba(0,0,0,.8);
    text-decoration: none !important
}