body {
  max-width: 960px;
  padding: 2%;
  margin-right: auto;
  margin-left: auto;
}

img {
  float: left;
  padding: 5px;
  border: 1px solid grey;
  margin: 5px;
}

.special{
  color:rgba(0,0,0,.8);
  text-decoration: none !important
}